<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <img src="../public/img/logo-color.png" alt="logo principal">
        <nav>
            <div>TODOS OS PRODUTOS</div>
            <div>COLEÇÕES</div>
            <div>OUTLET</div>
        </nav>
    </header>

    <main>
        <article>
            <section>
                <img src="../public/img/banner.png" alt="banner">
            </section>
        </article>

        <article class="container-principal">
            <h2>encontre seu estilo</h2>
            <section class="container-secundario">
                <img src="..//public/img/photoshoot-1.png" alt="photo 1">
                <img src="..//public/img/photoshoot-2.png" alt="photo 2">
            </section>
        </article>

        <article class="container-terciario">
            <h2>30% OFF</h2>
            <section>
                <img src="../public/img/shoes1.png" alt="shoes 1">
                <img src="../public/img/shoes2.png" alt="shoes 2">
                <img src="../public/img/shoes3.png" alt="shoes 3">
                <img src="../public/img/shoes4.png" alt="shoes 4">
            </section>
            <section>
                <div>SCARPIN SALTO FINO BÁSICO <br>R$140,00</div>
                <div>SCARPIN SALTO FINO BÁSICO <br>R$140,00</div>
                <div>SCARPIN SALTO FINO BÁSICO <br>R$140,00</div>
                <div>SCARPIN SALTO FINO BÁSICO <br>R$140,00</div>
            </section>
        </article>

        <article class="container-quarteario">
            <section>
                <h2>SANDÁLIA PALMILHA <br> MATELASSÊ TIRAS ROLOTÊ</h2>
                <div>ver detalhes</div>
                <img src="..//public/img/photoshoot-3.png" alt="photo3">
            </section>
            <section>
                <img src="..//public/img/photoshoot-4.png" alt="photo 4">
            </section>
        </article>
        
    </main>

    <footer>
        <section>
            <img src="../public/img/logo-white.png" alt="logo white">
            <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </article>
        </section>
        <section>
            <div><strong>CATEGORIAS</strong><br>sandálias<br>botas<br>tênis<br>oxford<br>coturnos</div>
        </section>
        <section>
            <div><strong>INSTITUCIONAL</strong><br>sobre nós<br> perguntas frequentes<br> politica de privacidade<br> rastreamento de pedidos<br> trabalhe conosco<br> contato</div>
        </section>
    </footer>

</body>

</html>